<!doctype html><html lang=en><head><meta charset="us-ascii">
<meta property="og:description" name=description itemprop=description
 content="So we can remember to update the entire site.">
<title itemprop=name property="og:title">Site Template | NEOZONES</title>
<style>table{width:100%}td{border-bottom:2px solid #aaa}</style>
<!--^^^ MODIFY ON EACH PAGE | VVV STAYS THE SAME-->
<meta property="og:image" content="https://neozones.club/cassette.png">
<meta property="og:site_name" content="NeoZones | neozones.club">
<meta property="og:type" content="website"><link rel=stylesheet href="/style.css">
</head><body><header><a href="/people/"><img src="/common/header.png"
 alt="NeoZones"></a><script src="/scripts.js"></script></header><main>
<div id=left><noscript><iframe src="/left.html"></iframe></noscript></div>
<div class=right><h1><!--HEADER 2.1-->

Layout Tracking</h1>
<p>A list of pages this layout is used on<!--, so we can remember to distribute
 updated sidebars to all of them
 took care of that lol just go update /left.html-->.</p>
<table><tr><th>Page</th><th>Layout Version</th></tr>
<tr><th>/template/template.html (MASTER COPY)</th>
<th>2.1 (2019-11-19)</th></tr>

<tr><td>/comic/index.html</td><td>2.1</td></tr>
<!--* * * NOTE: COMIC PAGES USE CUSTOM OG:IMAGE META TAGS * * *-->
<tr><td>/comic/page1.html</td><td>2.1</td></tr>
<tr><td>/comic/page2.html</td><td>2.1</td></tr>
<tr><td>/comic/page3.html</td><td>2.1</td></tr>
<tr><td>/comic/page4.html</td><td>2.1</td></tr>
<tr><td>/comic/page5.html</td><td>2.1</td></tr>
<tr><td>/comic/page6.html</td><td>2.1</td></tr>
<!--* * * NOTE: COMIC PAGES USE CUSTOM OG:IMAGE META TAGS * * *-->
<tr><td>/comic/submit.html</td><td>2.1</td></tr>
<tr><td>/comic/template.html</td><td>2.1</td></tr>

<tr><td>/common/index.html</td><td>2.1</td></tr>
<tr><td>/common/fonts/index.html</td><td>2.1</td></tr>

<tr><td>/cult/index.html</td><td>2.1</td></tr>
<tr><td>/cult/suggested.html</td><td>2.1</td></tr>
<!--* * * <html lang=en id=cult> to enable special CSS for lists * * *-->

<tr><td>/discord/index.html</td><td>2.1</td></tr>

<tr><td>/misc/attic/index.html</td><td>2.1</td></tr>
<!--tr><td>/misc/f/index.html</td><td>2.1</td></tr redirects to acidjaw-->
<tr><td>/misc/suggestions/favicon.html</td><td>2.1</td></tr>

<tr><td>/people/index.html</td><td>2.1</td></tr>

<tr><td>/template/index.html</td><td>2.1</td></tr>
<tr><td>/template/v1/index.html</td><td>2.1</td></tr>
<tr><td>/template/v2/index.html</td><td>2.0</td></tr>
</table>&nbsp;

<p>Also, the following images have been optimized. If any listed below are
 changed, let me (Bytemoth) know to optimize the new image.</p><table>
<tr><th>Filename</th><th>Optimized at (UTC)</th><th>Filesize (bytes)</th></tr>

<tr><td>/bricks.png</td><td>2019-11-02 22:48</td><td>840</td></tr>
<tr><td>/neocities.png</td><td>2019-04-22 04:09</td><td>876</td></tr>
<tr><td>/not_found.png</td><td>2019-04-22 01:15</td><td>7411</td></tr>
<tr><td>/welcome_to_hell.png</td><td>2019-04-22 01:20</td><td>8218</td></tr>

<tr><td>/acidjaw/acidjaw.png</td><td>2020-01-13 02:35</td><td>224</td></tr>
<tr><td>/acidjaw/background.png</td><td>2020-01-13 02:35</td><td>1862</td></tr>
<tr><td>/acidjaw/background2.png</td><td>2020-01-13 02:35</td><td>262342</td></tr>
<tr><td>/acidjaw/brickbg.png</td><td>2020-01-13 02:35</td><td>840</td></tr>
<tr><td>/acidjaw/favicon.png</td><td>2020-01-13 02:35</td><td>135</td></tr>
<tr><td>/acidjaw/acidjaw/background/drinking.png</td><td>2020-01-13 02:35</td><td>4651</td></tr>
<tr><td>/acidjaw/culture/bumfights/rufus.jpg</td><td>2020-01-13 02:35</td><td>36604</td></tr>
<tr><td>/acidjaw/culture/deep-dream-of-electric-sheep/deep_dream_of_electric_sheep_2015c.jpg</td><td>2020-01-13 02:35</td><td>665820</td></tr>
<tr><td>/acidjaw/culture/emoji-movie/the_new_emoji_movie_poster_but_this_time_its_a_png.jpg</td><td>2020-01-13 02:35</td><td>51553</td></tr>
<tr><td>/acidjaw/culture/luis-ricardo-falero/*.jpg</td><td>2020-01-13 02:35</td><td>yes</td></tr>
<tr><td>/acidjaw/culture/mother/mother_1979.png</td><td>2020-01-13 02:35</td><td>222713</td></tr>
<tr><td>/acidjaw/culture/paul-is-dead/high5.jpg</td><td>2020-01-13 02:35</td><td>16657</td></tr>
<tr><td>/acidjaw/culture/paul-is-dead/nicecar.png</td><td>2020-01-13 02:35</td><td>37423</td></tr>
<tr><td>/acidjaw/culture/rugrats-storyboard-jam/rsjbig.png</td><td>2020-01-13 02:35</td><td>265639</td></tr>
<tr><td>/acidjaw/culture/rugrats-storyboard-jam/rsjsmall.png</td><td>2020-01-13 02:35</td><td>79140</td></tr>
<tr><td>/acidjaw/culture/sonic-girls/2.jpg</td><td>2020-01-13 02:35</td><td>34244</td></tr>
<tr><td>/acidjaw/culture/sonic-girls/2b.jpg</td><td>2020-01-13 02:35</td><td>31472</td></tr>
<tr><td>/acidjaw/culture/sonic-girls/best_friends.jpg</td><td>2020-01-13 02:35</td><td>126386</td></tr>
<tr><td>/acidjaw/culture/sonic-girls/fbi.jpg</td><td>2020-01-13 02:35</td><td>476153</td></tr>
<tr><td>/acidjaw/culture/sonic-girls/hmmm.png</td><td>2020-01-13 02:35</td><td>1919</td></tr>
<tr><td>/acidjaw/culture/yesterday/yesterday.jpg</td><td>2020-01-13 02:35</td><td>264396</td></tr>
<tr><td>/acidjaw/culture/yesterday/yesterday_poster.jpg</td><td>2020-01-13 02:35</td><td>39926</td></tr>
<tr><td>/acidjaw/img/banner.png</td><td>2020-01-13 02:35</td><td>40870</td></tr>
<tr><td>/acidjaw/img/banner_old.png</td><td>2020-01-13 02:35</td><td>102008</td></tr>
<tr><td>/acidjaw/ppl/chubbuck.jpg</td><td>2020-01-13 02:35</td><td>21465</td></tr>
<tr><td>/acidjaw/ppl/what-is-vore/all-furry-art-is-cropedfrom-porn.png</td><td>2020-01-13 02:35</td><td>52582</td></tr>
<tr><td>/acidjaw/ppl/what-is-vore/hunger_gif.png</td><td>2020-01-13 02:35</td><td>55180</td></tr>
<tr><td>/acidjaw/ppl/what-is-vore/jsw.png</td><td>2020-01-13 02:35</td><td>811</td></tr>
<tr><td>/acidjaw/ppl/what-is-vore/un...unbirth...whatthefuck.png</td><td>2020-01-13 02:35</td><td>17342</td></tr>
<tr><td>/acidjaw/tech/wadpak3/wadpak3.png</td><td>2020-01-13 02:35</td><td>41786</td></tr>
<tr><td>/acidjaw/time/fumimaro-konoe/corpse-of-fumimaro-konoe.jpg</td><td>2020-01-13 02:35</td><td>274528</td></tr>
<tr><td>/acidjaw/time/hoja-de-parra/hoja_1.jpg</td><td>2020-01-13 02:35</td><td>82248</td></tr>
<tr><td>/acidjaw/time/hoja-de-parra/hoja_2.jpg</td><td>2020-01-13 02:35</td><td>63429</td></tr>
<tr><td>/acidjaw/time/hoja-de-parra/hoja_3.jpg</td><td>2020-01-13 02:35</td><td>106757</td></tr>
<tr><td>/acidjaw/time/hoja-de-parra/hoja_4.jpg</td><td>2020-01-13 02:35</td><td>57909</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/brazen_bull.png</td><td>2020-01-13 02:35</td><td>22315</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/ducking_stool.png</td><td>2020-01-13 02:35</td><td>28905</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/iron_chair.jpg</td><td>2020-01-13 02:35</td><td>76693</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/the_iron_maiden.jpg</td><td>2020-01-13 02:35</td><td>43325</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/the_pear_of_anguish.png</td><td>2020-01-13 02:35</td><td>27855</td></tr>
<tr><td>/acidjaw/time/methods-of-torture-and-execution/thumbscrews.jpg</td><td>2020-01-13 02:35</td><td>16189</td></tr>

<tr><td>/art/BisexualPrideFlag.png</td><td>2019-11-25 09:45</td><td>1054</td></tr>
<tr><td>/art/bricks.png</td><td>2019-11-25 09:40</td><td>840</td></tr>
<tr><td>/art/owl.png</td><td>2019-11-25 09:40</td><td>83704</td></tr>
<tr><td>/art/space90.png</td><td>2019-11-25 09:40</td><td>1590</td></tr>
<tr><td>/art/title.png</td><td>2019-11-25 09:40</td><td>62878</td></tr>

<tr><td>/attic/404.png</td><td>2019-04-22 01:23</td><td>880</td></tr>
<tr><td>/attic/bricks.png</td><td>2019-10-10 18:05</td><td>840</td></tr>
<tr><td>/attic/cult.png</td><td>2019-10-10 18:05</td><td>2258</td></tr>
<tr><td>/attic/favicon.png</td><td>2019-04-22 01:29</td><td>290</td></tr>
<tr><td>/attic/gun.png</td><td>2019-04-22 01:32</td><td>2742</td></tr>
<tr><td>/attic/hazard.png</td><td>2019-11-24 23:10</td><td>2456</td></tr>
<tr><td>/attic/neozones_logo.png</td><td>2019-04-22 01:15</td><td>2052</td></tr>
<tr><td>/attic/title.png</td><td>2019-04-22 01:29</td><td>8546</td></tr>

<tr><td>/comic/blank.png</td><td>2019-11-05 04:20</td><td>114</td></tr>
<tr><td>/comic/next.png</td><td>2019-11-24 23:13</td><td>2787</td></tr>
<tr><td>/comic/page1.png</td><td>2019-11-11 16:45</td><td>175884</td></tr>
<!--consider converting to jpg; 46.2kib at 97% quality-->
<tr><td>/comic/page1_large.png</td><td>2019-11-05 04:53</td><td>192475</td></tr>
<!--consider converting to jpg; 54.5kib at 97% quality-->
<tr><td>/comic/page1_colour.png</td><td>2019-11-05 04:58</td><td>43610</td></tr>
<tr><td>/comic/page2.png</td><td>2019-11-11 16:45</td><td>40111</td></tr>
<tr><td>/comic/page2_large.png</td><td>2019-11-06 18:16</td><td>45673</td></tr>
<tr><td>/comic/page3.png</td><td>2019-11-12 17:35</td><td>16160</td></tr>
<tr><td>/comic/page4.png</td><td>2019-11-13 00:19</td><td>5707</td></tr>
<tr><td>/comic/page5.png</td><td>2019-11-17 17:50</td><td>83709</td></tr>
<!--consider converting to jpg; 38.6kib at 97% quality-->
<tr><td>/comic/page6.png</td><td>2019-11-18 23:11</td><td>88106</td></tr>
<!--consider converting to jpg; 61.6kib at 97% quality-->

<tr><td>/common/b_acidjaw.png</td><td>2019-12-08 04:43</td><td>4650</td></tr>
<tr><td>/common/b_bytemoth.png</td><td>2019-10-29 00:31</td><td>4511</td></tr>
<tr><td>/common/b_comic.png</td><td>2019-12-08 04:43</td><td>3930</td></tr>
<tr><td>/common/b_cult.png</td><td>2019-10-29 00:31</td><td>4632</td></tr>
<tr><td>/common/b_discord.png</td><td>2019-11-25 10:05</td><td>4492</td></tr>
<tr><td>/common/b_emily.png</td><td>2019-10-29 00:31</td><td>3534</td></tr>
<tr><td>/common/b_joppiesaus.png</td><td>2019-12-15 02:13</td><td>4770</td></tr>
<tr><td>/common/b_nekojiru.png</td><td>2019-10-29 00:31</td><td>4584</td></tr>
<tr><td>/common/b_neo3d.png</td><td>2019-11-25 10:05</td><td>3964</td></tr>
<tr><td>/common/b_other.png</td><td>2019-11-25 10:05</td><td>3701</td></tr>
<tr><td>/common/b_owlman.png</td><td>2019-10-29 00:31</td><td>4512</td></tr>
<tr><td>/common/b_pizzasqueeze.png</td><td>2019-12-15 02:13</td><td>3566</td></tr>
<tr><td>/common/b_ricky.png</td><td>2019-10-29 00:31</td><td>3876</td></tr>
<tr><td>/common/b_tehleroy.png</td><td>2019-10-29 00:31</td><td>4405</td></tr>
<tr><td>/common/b_wastebin.png</td><td>2019-12-15 02:13</td><td>4602</td></tr>
<tr><td>/common/b_zonemail.png</td><td>2019-11-25 10:05</td><td>4540</td></tr>
<tr><td>/common/bar_on_chrome.png</td><td>2019-12-22 03:26</td><td>166994</td></tr>
<tr><td>/common/font_issue.png</td><td>2019-12-22 04:08</td><td>48718</td></tr>
<tr><td>/common/cd5k.png</td><td>2019-10-29 00:30</td><td>565</td></tr>
<tr><td>/common/chameleon.png</td><td>2019-01-27 04:31</td><td>903</td></tr>
<tr><td>/common/half_the_size.png</td><td>2019-12-22 03:23</td><td>128936</td></tr>
<tr><td>/common/header.png</td><td>2019-10-29 00:31</td><td>2840</td></tr>
<tr><td>/common/headerXMAS.png</td><td>2019-12-22 03:19</td><td>3938</td></tr>
<tr><td>/common/nekojiru.png</td><td>2019-10-29 00:33</td><td>85386</td></tr>
<tr><td>/common/owlman.png</td><td>2019-10-29 00:33</td><td>813</td></tr>
<tr><td>/common/pizza.png</td><td>2019-12-13 18:13</td><td>5944</td></tr>
<tr><td>/common/screen_status.png</td><td>2019-11-24 23:05</td><td>1680</td></tr>
<tr><td>/common/tehleroy.png</td><td>2019-10-29 00:33</td><td>63205</td></tr>
<tr><td>/common/why_not.png</td><td>2019-11-03 04:15</td><td>148675</td></tr>
<tr><td>/common/wwp.png</td><td>2019-12-15 23:58</td><td>1098</td></tr>
<tr><td>/common/xmas.png</td><td>2019-12-22 03:28</td><td>1123</td></tr>

<tr><td>/cult/cult.png</td><td>2019-10-29 02:04</td><td>2375</td></tr>
<tr><td>/cult/cheese.png</td><td>2019-11-24 22:52</td><td>1816</td></tr>

<tr><td>/discord/500_fine.png</td><td>2019-11-24 22:57</td><td>1558</td></tr>

<tr><td>/misc/be_patient.png</td><td>2019-11-24 22:38</td><td>2139</td></tr>
<tr><td>/misc/whiteboard.png</td><td>2019-11-13 02:12</td><td>32597</td></tr>
<tr><td>/misc/4/connect_four_template.png</td><td>2019-11-25 09:44</td><td>9193</td></tr>
<tr><td>/misc/4/game1.png</td><td>2019-11-25 09:44</td><td>16169</td></tr>
<tr><td>/misc/4/game2.png</td><td>2019-11-25 09:44</td><td>12819</td></tr>
<tr><td>/misc/f/le_rip.png</td><td>2019-11-25 10:01</td><td>3490</td></tr>
<tr><td>/misc/f/useby.png</td><td>2019-11-24 23:01</td><td>2673</td></tr>
<tr><td>/misc/suggestions/favicon1.png</td><td>2019-11-04 08:19</td><td>109</td></tr>
<tr><td>/misc/suggestions/favicon2.png</td><td>2019-11-04 08:19</td><td>171</td></tr>
<tr><td>/misc/suggestions/favicon3.png</td><td>2019-11-04 08:19</td><td>161</td></tr>
<!--large versions removed as redundant; antialiasing filter disabled on page-->

<tr><td>/people/above.png</td><td>2019-11-24 22:52</td><td>1498</td></tr>
<tr><td>/people/bastard.png</td><td>2019-04-23 13:05</td><td>3283</td></tr>
<tr><td>/people/bytemoth.png</td><td>2019-04-11 16:27</td><td>8898</td></tr>
<tr><td>/people/nekojiru.png</td><td>2019-04-11 16:27</td><td>2769</td></tr>
<tr><td>/people/owlman.png</td><td>2019-04-11 16:27</td><td>1329</td></tr>
<tr><td>/people/pizza.png</td><td>2019-12-13 17:59</td><td>36271</td></tr>
<tr><td>/people/ricky.png</td><td>2019-04-11 16:27</td><td>1781</td></tr>
<tr><td>/people/tehleroy.png</td><td>2019-04-13 20:14</td><td>3283</td></tr>
</table>&nbsp;

<p>I have not made changes to any files in the per-user directories, or
 the contents of /misc/ not listed above.</p>

<!--FOOTER 2.1--></div></main>
<div id=footer><noscript><iframe src="/footer.html"></iframe></noscript></div>
</body></html>