<!doctype html><html lang=en><head><meta charset="us-ascii">
<meta property="og:description" name=description itemprop=description
 content="NEW PAGE 1">
<title itemprop=name property="og:title">UNTITLED | NEOZONES</title>
<!--^^^ MODIFY ON EACH PAGE | VVV STAYS THE SAME-->
<meta property="og:image" content="https://neozones.club/cassette.png">
<meta property="og:site_name" content="NeoZones | neozones.club">
<meta property="og:type" content="website"><link rel=stylesheet href="/style.css">
</head><body><header><a href="/people/"><img src="/common/header.png"
 alt="NeoZones" title="NeoZones: Because Why Not?"></a><script src="/scripts.js"></script></header><main>
<div id=left><noscript><iframe src="/left.html"></iframe></noscript></div>
<div class=right><h1><!--HEADER 2.1-->

page title</h1>
<p>add some content and put this into its own folder</p>

<!--FOOTER 2.1--></div></main>
<div id=footer><noscript><iframe src="/footer.html"></iframe></noscript></div>
</body></html>