<!DOCTYPE html><html lang=en><head><meta charset="utf-8">
<title itemprop=name property="og:title">AcidJaw Direct Source Code :: AcidJaw</title>
<link rel=icon href="/acidjaw/favicon.png">
<meta name=description itemprop=description property="og:description" content="Dance with the devil, sell your soul, and read AcidJaw!">
<meta name=keywords           content="mag, magazine, acid, jaw, acid jaw, neozones, neocities, news, weird, why the hell not?">
<meta property="og:site_name"   content="AcidJaw | neozones.club">
<meta property="og:type"      content="website">
<meta property="og:image"       content="https://neozones.club/acidjaw/acidjaw/acidjaw.png">
<meta property="og:url"         content="https://neozones.club/acidjaw">
<link rel=stylesheet          href="/acidjaw/style.css">
<pre>&#x3C;!DOCTYPE html&#x3E;&#x3C;html lang=en&#x3E;&#x3C;head&#x3E;&#x3C;meta charset=&#x22;utf-8&#x22;&#x3E;
&#x3C;title itemprop=name property=&#x22;og:title&#x22;&#x3E; :: AcidJaw&#x3C;/title&#x3E;
&#x3C;link rel=icon href=&#x22;/acidjaw/favicon.png&#x22;&#x3E;
&#x3C;meta name=description itemprop=description property=&#x22;og:description&#x22; content=&#x22;Dance with the devil, sell your soul, and read AcidJaw!&#x22;&#x3E;
&#x3C;meta name=keywords           content=&#x22;mag, magazine, acid, jaw, acid jaw, neozones, neocities, news, weird, why the hell not?&#x22;&#x3E;
&#x3C;meta property=&#x22;og:site_name&#x22; content=&#x22;AcidJaw | neozones.club&#x22;&#x3E;
&#x3C;meta property=&#x22;og:type&#x22;      content=&#x22;website&#x22;&#x3E;
&#x3C;meta property=&#x22;og:image&#x22;     content=&#x22;/acidjaw/acidjaw.png&#x22;&#x3E;
&#x3C;meta property=&#x22;og:url&#x22;       content=&#x22;/acidjaw&#x22;&#x3E;
&#x3C;meta name=referrer           content=&#x22;no-referrer-when-downgrade&#x22;&#x3E;
&#x3C;link rel=stylesheet href=&#x22;/acidjaw/style.css&#x22;&#x3E;
&#x3C;/head&#x3E;&#x3C;body&#x3E;&#x3C;div class=&#x22;content&#x22;&#x3E;&#x3C;header&#x3E;&#x3C;a&#x3E;&#x3C;/a&#x3E;&#x3C;/header&#x3E;&#x3C;nav&#x3E;
 &#x3C;a href=&#x22;/acidjaw/time/&#x22;&#x3E;Time Machine&#x3C;/a&#x3E; &#x3C;a href=&#x22;/acidjaw/ppl/&#x22;&#x3E;PPL&#x3C;/a&#x3E;
 &#x3C;a href=&#x22;/acidjaw/culture/&#x22;&#x3E;Culture&#x3C;/a&#x3E; &#x3C;a href=&#x22;/acidjaw/mail/&#x22;&#x3E;AcidMail&#x3C;/a&#x3E;
 &#x3C;a href=&#x22;/acidjaw/tech/&#x22;&#x3E;Tech&#x3C;/a&#x3E; &#x3C;a href=&#x22;/acidjaw/acidjaw/&#x22;&#x3E;AcidJaw&#x3C;/a&#x3E;&#x3C;/nav&#x3E;&#x3C;main&#x3E;

&#x3C;h1&#x3E;Title Goes Here&#x3C;/h1&#x3E;&#x3C;p&#x3E;
[gently insert article content]&#x3C;/p&#x3E;&#x3C;p&#x3E;
For images, please use &#x3C;tt&#x3E;&#x26;lt;img src=&#x22;example.png&#x22; alt=&#x22;image description&#x22; title=&#x22;image caption&#x22;&#x26;gt;&#x3C;/tt&#x3E;
 to help people who might be hard-of-seeing, an example of this being used can be seen on
 &#x3C;a href=&#x22;/acidjaw/acidjaw/background/&#x22;&#x3E;this page&#x3C;/a&#x3E; (hover over image).&#x3C;/p&#x3E;

&#x3C;/main&#x3E;
&#x3C;footer&#x3E;&#x3C;hr&#x3E;&#x3C;p&#x3E;AcidJaw is dedicated to the people trapped in the city. Copyright
&#x3C;script&#x3E;document.write(new Date().getFullYear());&#x3C;/script&#x3E;.&#x3C;/p&#x3E;&#x3C;/footer&#x3E;&#x3C;/div&#x3E;
&#x3C;/body&#x3E;&#x3C;/html&#x3E;</pre>
</body></html>