<!DOCTYPE html>
<html>
<head>
<!-- <script type="text/javascript" src="https://adblockbar.neocities.org/adblockbar-donthotlink.js"></script> -->
    <meta itemprop="name"           content="NeoZones">
    <meta itemprop="description"    content="NeoZones: Because Why not?">
    <meta name="description"        content="NeoZones: Because Why not?">
    <meta name="keywords"           content="webhost, home, neocities, ricky, crap, owlman, owl, randy, neko, cat, emily, neozones">
    <meta property="og:title"       content="NeoZones">
    <meta property="og:site_name"   content="NeoZones | neozones.neocities.org">
    <meta property="og:type"        content="website">
    <meta property="og:image"       content="https://neozones.neocities.org/neocities.png">
    <link rel="icon" type="image/png" href="https://neozones.neocities.org/favicon.ico">
    <meta property="og:url"         content="https://www.neozones.neocities.org">
    <meta property="og:description" content="From Hell and back comes NeoZones, the home of some of the most vile scum on all of the Internet. Don't drink the water.">
    <meta name="referrer"           content="no-referrer-when-downgrade">
  <title>NeoZones Version 2.0 | NEOZONES</title> <!-- Insert title here -->
  <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

  <header><a href="https://neozones.neocities.org/people/"><img src="https://neozones.neocities.org/common/header.png" alt=""></a></header>
  <div class="marquee"><marquee><script src="marquee.js"></script></marquee></div>
  <main>
    <div class="left">
	  <center>
	  <hr>
	  <p style="text-align: left; margin: 0 0 0 2px;">THE VICTIMS</p>
	  <a href="https://neozones.neocities.org/ricky/"><div class="b ricky"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_ricky.png" alt=""></a></div>
	  <a href="https://neozones.neocities.org/emily/"><div class="b emily"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_emily.png" alt=""></a></div>
	  <a href="https://neozones.neocities.org/nekojiru/"><div class="b nekojiru"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_nekojiru.png" alt=""></a></div>
	  <a href="https://neozones.neocities.org/owlman/"><div class="b owlman"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_owlman.png" alt=""></a></div>
	  <a href="https://neozones.neocities.org/tehleroy/"><div class="b tehleroy"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_tehleroy.png" alt=""></a></div>
	  <!-- <a href="https://neozones.neocities.org/bytemoth/"><div class="b bytemoth"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_bytemoth.png"></a></div> -->
	  <hr>
	  <p style="text-align: left; margin: 0 0 0 2px;">STUFF WE MAKE</p>
	  <a href="https://neozones.neocities.org/cult/"><div class="b"><img style="width: 140px;" src="https://neozones.neocities.org/common/b_cult.png"></a></div>
	  <hr>
	</div>
	<div class="right">
	  <!-- Content here -->
	
<p>This is Version 2.0 of the NeoZones layout, in use from 2019-10-29
 to 2019-11-24 before being heavily optimized by Bytemoth. The original message
 on its usage follows.</p><hr>

<p>The current template: https://neozones.neocities.org/template/<br>
The outdated first version can be found here: https://neozones.neocities.org/template/v1/</p>
<p>[ THIS NOTE WAS LAST UPDATED ON 2019-11-16 ]</p>
<p>This HTML file was made with the intention of being reused for new pages on the NeoZones website. This design was created by TEH LEROY, exclusively for NeoZones, which contains everything necessary for better navigation and comfort. For any use of this layout, it is optional to remove the notes enclosed in "&lt;!- -&gt;" within this document. The site is 800 pixels wide.</p>
<p>To fit the rest of the site, it is recommended to follow the next:</p>
<p>1) Use &lt;br&gt; instead of &lt;p&gt; &lt;/p&gt; to skip line</p>
<p>2) Please do not center the sidebar text, the design is intentionally made like this</p>
<p>TO DO:</p>
<p>1) Use a compatible scheme for mobile devices</p> 
<p>2) Find a way to update the sidebar and footer when it needed without updating all pages one by one</p>
<p>3) More art and graphics where the site mascot "Ricky" involves</p>
<p>NEOZONES.NEOCITIES.ORG and most of the present texts were created by Clive "James" Phyton. "Ricky The Raccoon" mascot and his respective art were created by NEKOJIRU. Second site layout (Current) and some graphics were made by Randy Asui AKA "TEH LEROY". The rest of its members do their best to expand and improve this web realm even more.</p>
	
	  <!-- End of content-->
	</div>
  </main>
  <footer>
    <p style="margin: 5px">&copy; <strong>2019 - <script type="text/javascript">document.write(new Date().getFullYear());</script></strong> NeoZones | This is a web collective made by these idiots.</p>
	<p style="margin: 5px;">
	<a href="https://owlman.neocities.org"><img src="https://neozones.neocities.org/common/owlman.gif" width="88" height="31" alt="owlman"></a>
	<a href="https://nekojiru.neocities.org"><img src="https://neozones.neocities.org/common/nekojiru.gif" width="88" height="31"  alt="nekojiru"></a>
	<a href="https://tehleroy.neocities.org"><img src="https://neozones.neocities.org/common/tehleroy.gif" width="88" height="31" alt="tehleroy"></a>
	<a href="https://chameleon.neocities.org"><img src="https://neozones.neocities.org/common/chameleon.gif" width="88" height="31" alt="chameleon"></a>
	<!-- <a href="http://cd5k.net/" target="_parent"><img src="https://neozones.neocities.org/common/cd5k.png" width="88" height="31"  alt="bytemoth"></a> -->
	</p>
  </footer>
  
  <!--
  So for the people who do not know what the following JavaScript does, here is a breakdown; In older browsers such as Netscape and even in SeaMonkey, there is a status bar at the bottom of the page, the function of this bar differs from browser to browser, but what most of them have in common is that, if the option is put in place, then they will show a custom message that will scroll from right to left, in this case, the message will read "NeoZones: Because Why Not?"
  Here is a screenshot of the scrollbar in action: https://neozones.neocities.org/template/why_not.png
  -->
  <script language="JavaScript">
    var MessageText = "NeoZones: Because Why Not?"
	var DisplayLength = 130
	var pos = 1 - DisplayLength;
	function ScrollInStatusBar(){
	var scroll = "";
	pos++;
	if (pos == MessageText.length) pos = 1 - DisplayLength;
	if (pos<0)
	{
	  for (var i=1; i<=Math.abs(pos); i++)
      scroll = scroll + " ";
	  scroll = scroll + MessageText.substring(0, DisplayLength - i + 1);
	}
	else
      scroll = scroll + MessageText.substring(pos, pos + DisplayLength);
	  window.status = scroll;
	  // Scrolling speed
	  setTimeout("ScrollInStatusBar()",50);
	}
    ScrollInStatusBar()
	//-->
  </script>
  
 </body>
 </html>