body { 
	width: 60%; 
	height: 96%; 
	margin-top: 1%;
	margin-right: auto;
	margin-bottom: 3%;
	margin-left: auto;
	background-color: #e0e9ef; 
	font-family: serif; 
} 

header { 
	width: 60%; 
	height: 125px; 
	position: fixed;
	background-color: #f0f4f7;
	background-image: url(bg1.png), url(bg2.png);
	background-position: left, left;
	background-repeat: no-repeat, repeat;
} 

nav { 
	width: 54%; 
	margin-top: 125px;
	margin-left: auto;
	margin-right: auto;
	padding: 0% 3% 0% 3%; 
	position: fixed;
	overflow: scroll; 
	border: 1px solid #ffffff #f0f4f7 #ffffff #f0f4f7; 
	background-color: white; 
	font-size: 14px; 
	color: #444444; 
	text-align: left; 
} 

main { 
	width: 54%; 
	height: 74%; 
	margin-top: 160px;
	margin-left: auto;
	margin-bottom: 20px;
	margin-right: auto;
	padding: 0% 3% 3% 3%; 
	position: fixed;
	overflow: scroll; 
	border: 1px solid #ffffff #f0f4f7 #f0f4f7 #f0f4f7; 
	background-color: white;
	font-size: 14px;  
	color: #444444; 
	text-align: left; 
} 



table {
    width: 100%;
}
th {
    width: 33%;
    padding: 0px 10px 0px 0px;
    text-align: right;
    font-weight: normal;
}
td {
    width: 66%;
    padding: 0px 0px 0px 10px;
    text-align: left;
}


ul {
    list-style: none;
}


/* text stuff */

nav p {
	color: #d0d9df;
}
nav a {
	color: #d0d9df;
}
nav a:hover {
	color: #92979a;
}
nav a.active{
	color: #92979a;
}



p { 
	color: #444444; 
} 

a { 
	color: #92979a; 
	text-decoration: none;
} 
a:hover { 
	color: #d0d9df; 
} 

urgent { 
	background: #f0f4f7; 
	color: #000000; 
} 

  

h1 { 
	font-size: 24px; 
	color: #d0d9df; 
	font-weight: bold; 
} 

h2 { 
	font-size: 24px; 
	color: #d0d9df; 
	font-weight: normal; 
} 

h3 {  
	font-size: 18px; 
	color: #d0d9df; 
	font-weight: bold;
} 

h4 { 
	font-size: 14px; 
	color: #d0d9df; 
	font-weight: bold; 
} 



/* text selection */

::-moz-selection { 
	background-color: #f0f4f7; 
}
::selection { 
	background-color: #f0f4f7; 
} 



/* scrollbar */

::-webkit-scrollbar { 
	width: 0; 
	opacity: 0; 
} 
::-webkit-scrollbar-track { 
	opacity: 0; 
} 
::-webkit-scrollbar-thumb { 
	opacity: 0; 
} 
::-webkit-scrollbar-thumb:hover { 
	opacity: 0; 
} 